@media screen and (min-width: 768px) {
  /********** Home Page Styles **********/
  .home-container {
    background-image: url(../images/bg-large.jpg);
    min-height: 100vh;
  }

  .home-search-container h1 {
    font-size: 5em;
  }

  /********** Search Page Styles **********/
  #search-bar input {
    font-size: 1.7em;
    text-align: left;
    margin-left: 1em;
    width: 30%;
    max-width: 30%;
    min-height: 50px;
  }

  #search-bar button {
    min-height: 50px;
    width: 60px;
    max-width: 60px;
  }

  #search-bar svg {
    height: 3.7em; 
    width: 3.7em; 
}

#facilities-container {
  gap: 50px;
  padding-bottom: 50px;
}
}
