@media screen and (min-width: 768px) {
  /********** Home Page Styles **********/
  .home-container {
    background-image: url(../images/bg-large.jpg);
    min-height: 100vh;
  }

  .home-search-container h1 {
    font-size: 5em;
  }

  /********** Search Page Styles **********/
  #search-bar input {
    font-size: 1.7em;
    text-align: left;
    margin-left: 1em;
    width: 30%;
    max-width: 30%;
    min-height: 50px;
  }

  #search-bar button {
    min-height: 50px;
    width: 60px;
    max-width: 60px;
  }

  #search-bar svg {
    height: 3.7em; 
    width: 3.7em; 
}

#facilities-container {
  gap: 50px;
  padding-bottom: 50px;
}

/********** Facility Details **********/
.fd-images-container .image-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.fd-images-container .image-wrapper img {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 50%;
  object-fit: cover;
}

.fd-images-container img {
  width: 800px;
  height: auto;
}

/********** Campsite Details **********/
#campsite-details-container {
  margin: 5px;
}

.campsite-details-title {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: left;
}
}